.style-text{
    font-style: italic; font-size: 14px;
}
#back_color{
    background-color: rgb(131, 124, 124);
}
#back_color-1{
    background-color: rgb(60, 163, 72);
}
#back_color-2{
    background-color: rgb(24, 187, 300);
}
#back_color-3{
    background-color: rgb(61, 130, 114);
}
#picture-1{
    position: absolute;
    left: 570px;
    top: 20px;
    width: 110px;
    height: 168px;
}
